//ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================================================================================================
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================================================================================================

//<ОБОЛОЧКА>===================================================================================================================================================================================
.wrapper {
	width: 100%;
	max-width: 1230px;
	min-height: 100%;
	margin: 0 auto;
}
//</ОБОЛОЧКА>==================================================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>=============================================================================================================================================================================
.container {
	margin: 0 auto;
	width: 100%;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================================================================================

//<ОСНОВНОЙ БЛОК>=============================================================================================================================================================================


.content {
	flex: 1 1 100%;
	font-size: 14px;
}
//</ОСНОВНОЙ БЛОК>============================================================================================================================================================================